
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--dark);
  color: var(--light);
  font-family: 'Poiret One';

}

h1,
h2,
h3 {
  font-family: 'Roboto', cursive, sans-serif;
  font-weight: 500;
  line-height: 1.25;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}

header a:hover {
  background-color: var(--tertiary);
  color: var(--dark)
}

header a {
  background: var(--dark);
  color: var(--light);
}

button {
	background: var(--tertiary);
	border: 0;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
  margin-top: 5px;
	padding: 10px 15px;	
}

button:hover {
  opacity: .8;
  background-color: var(--secondary);
  color: var(--dark);
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%

}

form {
  width: 40%;

}

label {
  display: inline-block;
  width: 150px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  margin: 5px;
  padding: 8px;
  border: 1px solid var(--dark);
  border-radius: 10px;
  transition: box-shadow 0.2s;
  width: 500px;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 500px;
	height: 120px;
	border: 3px solid #cccccc;
  border-radius: 15px;
	padding: 0.25rem;
}

li {
  list-style: none;
  font-size: 1.75rem;
  display: inline-block;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contactbox {
  margin-top: 100px;
  margin-bottom: 100px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;

}

.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-row {
 
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 100%;
  text-align: center;
}

.icon {
  width: 75px;
  height: 75px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.active {
  color: var(--tertiary);
}